<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moje žalbe</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<header th:insert="/index.html :: header"></header>


<div class="container ">
    <div class="row">
        <h3>Moje žalbe</h3>

    </div>
    <div class="row">

        <table th:each="r:${complaintsBoat}" class="table table-active">
            <tbody>
            <tr>
                <td th:if="${r.boat!=null}" th:text="${'Za brod '+r.boat.name}">
                    username
                </td>
                <td th:if="${r.boat!=null}" th:text="${'Vlasnik: '+r.boat.owner.firstName+' '+r.boat.owner.lastName}">
                    username
                </td>
                <td th:if="${r.boat==null}" th:text="'[brod obrisan]'">
                    username
                </td>
                <td th:if="${r.boat==null}" th:text="'[obrisan]'">
                    username
                </td>
                <td  th:text="'Datum: '+${#temporals.format(r.complaintDate, 'dd-MM-yyyy ')}">
                    vreme
                </td>

            </tr>
            <tr>
                <td colspan="3" th:text="${r.content}"> content</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="row">

        <table th:each="r:${complaintsHouse}" class="table table-active">
            <tbody>
            <tr>
                <td th:if="${r.vacationHouse!=null}" th:text="${'Za vikendicu '+r.vacationHouse.name}">
                    username
                </td>
                <td th:if="${r.vacationHouse!=null}" th:text="${'Vlasnik: '+r.vacationHouse.vacationHouseOwner.firstName+' '+r.vacationHouse.vacationHouseOwner.lastName}">
                    username
                </td>
                <td th:if="${r.vacationHouse==null}" th:text="'[vikendica obrisana]'">
                    username
                </td>
                <td th:if="${r.vacationHouse==null}" th:text="'[obrisana]'">
                    username
                </td>
                <td  th:text="'Datum: '+${#temporals.format(r.complaintDate, 'dd-MM-yyyy ')}">
                    vreme
                </td>

            </tr>
            <tr>
                <td colspan="3" th:text="${r.content}"> content</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row">

        <table th:each="r:${complaintsInstructor}" class="table table-active">
            <tbody>
            <tr>
                <td th:if="${r.instructor!=null}" th:text="${'Za instruktora '+r.instructor.firstName+' '+r.instructor.lastName}">
                    username
                </td>
                <td th:if="${r.instructor==null}" th:text="'[instruktor obrisana]'">
                    username
                </td>
                <td  th:text="'Datum: '+${#temporals.format(r.complaintDate, 'dd-MM-yyyy ')}">
                    vreme
                </td>

            </tr>
            <tr>
                <td colspan="2" th:text="${r.content}"> content</td>
            </tr>
            </tbody>
        </table>

    </div>




    <div class="row">

    </div>

</div>






<div th:insert="/index.html :: scripts"></div>
</body>
</html>