<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="/index.html :: header"></header>


<div class="container text-center">
    <div><h2>user registration </h2></div>
<form th:action="@{/register/}" method="post"
      th:object="${user}"
      style="max-width: 600px; margin: 0 auto"
    >

    <div class="m-3">
        <div class="form-group row">
            <label class="col-form-label col-4" for="">Email - korisničko ime</label>
            <div class="col-8">
                <input id="email" type="email" class="form-control" th:field="*{email}" required minlength="6" maxlength="64" />
                <div id="email-error" class="alert alert-danger " th:if="${#fields.hasErrors('email')}" th:errors="*{email}">a</div>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-form-label col-4" for="">Lozinka</label>
            <div class="col-8">
                <input id="password" type="password" class="form-control" th:field="*{password}" required minlength="4" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4" for="">Ponovljena lozinka</label>
            <div class="col-8">
                <input id="password-confirm" type="password" th:name="password-confirm" class="form-control" required />
                <div id="password-error" class="alert alert-danger " th:if="${#fields.hasErrors('password')}" th:errors="*{password}">a</div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-form-label col-4" for="">Ime</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="4" maxlength="20"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4" for="">Prezime</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="4" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4" for="">Adresa</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{address}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4" for="">Grad</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{city}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4" for="">Država</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{state}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4" for="">Broj telefona </label>
            <div class="col-8">
                <input type="tel" class="form-control" title="10 cifara" pattern="^\d{10}$" th:field="*{phoneNumber}" required/>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Registrujte se</button>
        </div>

    </div>
</form>
</div>

<script>
    var sub = document.getElementById("email");
    sub.addEventListener("focus", function () { return showOrHideDiv("email-error") });



    var sub2 = document.getElementById("password-confirm");
    sub2.addEventListener("focus", function () { return showOrHideDiv("password-error")

    });

    function showOrHideDiv(element) {
        var v = document.getElementById(element);

        v.style.display = "none";

    }
</script>



<div th:fragment="scripts">
    <script th:src="@{/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>