<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vikendice</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
<header th:insert="/index.html :: header"></header>

<div class="container">

    <div class="row ">

        <table class="table table-striped text-center">
            <thead>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">id </a>
            </td>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">name</a>
            </td>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}">addressa</a>
            </td>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}}">info</a>
            </td>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}}">rating</a>
            </td>
            <td>
                <a th:href="@{'/admin/houses/page/'+${currentPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">price</a>
            </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="house:${houses}">
                <td><a th:href="@{/houses/{id}(id=${house.id})}" th:text="${house.id}">id</a>
                </td>
                <td th:text="${house.name}">name</td>
                <td th:text="${house.address}">address</td>
                <td th:text="${house.info}">info</td>
                <td th:text="${house.avgRating}">rating</td>
                <td th:text="${house.price}">price</td>
                <td th:text="${house.vacationHouseOwner.firstName}">Ime Vlasnika</td>
                <td th:text="${house.vacationHouseOwner.lastName}">Prezime Vlasnika</td>
                <td>
                    <form th:method="delete" th:action="@{/admin/houses/delete}">
                        <input hidden type="number" name="id" th:value="${house.id}">
                        <button type="submit" class="btn btn-danger">Obriši</button>
                    </form>
                </td>
            </tr>


            </tbody>

        </table>

    </div>

    <div th:if="${numberOfPages>0}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}" th:href="@{'/admin/houses/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <a th:if="${currentPage>1}" th:href="@{'/admin/houses/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}" th:href="@{'/admin/houses/page/'+${currentPage - 1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}" th:href="@{'/admin/houses/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>



        <a th:if="${currentPage<numberOfPages}" th:href="@{'/admin/houses/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}" th:href="@{'/admin/houses/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>


</div>



<div th:insert="/index.html :: scripts"></div>
</body>
</html>