<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avanture</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
<header th:insert="/index.html :: header"></header>

<div class="container">

    <div class="row ">

        <table class="table table-striped text-center">
            <thead>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">id </a>
            </td>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">name</a>
            </td>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}">addressa</a>
            </td>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}}">info</a>
            </td>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}}">rating</a>
            </td>
            <td>
                <a th:href="@{'/admin/adventures/page/'+${currentPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">price</a>
            </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adventure:${adventures}">
                <td><a th:href="@{adventures/{id}(id=${adventure.id})}" th:text="${adventure.id}">id</a>
                </td>
                <td th:text="${adventure.name}">name</td>
                <td th:text="${adventure.address}">address</td>
                <td th:text="${adventure.info}">info</td>
                <td th:text="${adventure.avgRating}">rating</td>
                <td th:text="${adventure.price}">price</td>
                <td th:text="${adventure.instructor.firstName}">Ime Vlasnika</td>
                <td th:text="${adventure.instructor.lastName}">Prezime Vlasnika</td>
                <td>
                    <form th:method="delete" th:action="@{/admin/adventures/delete}">
                        <input hidden type="number" name="id" th:value="${adventure.id}">
                        <button type="submit" class="btn btn-danger">Obriši</button>
                    </form>
                </td>
            </tr>


            </tbody>

        </table>

    </div>

    <div th:if="${numberOfPages>0}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}"
           th:href="@{'/admin/adventures/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Prva</a>

        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}"
           th:href="@{'/admin/adventures/page/'+${currentPage-1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}"
                   th:href="@{'/admin/adventures/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>


        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/admin/adventures/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/admin/adventures/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>


</div>



<div th:insert="/index.html :: scripts"></div>
</body>
</html>