<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avanture</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<header th:insert="/index.html :: header"></header>

<div class="container">

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row"><p></p></div>


    <div class="row">

    <table class="table table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>address</td>
            <td>info</td>
            <td>rating</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="adventure:${adventures}">
            <td> <a th:href="@{adventures/{id}(id=${adventure.id})}" th:text="${adventure.id}">id</a>
            </td>
            <td th:text="${adventure.name}">name</td>
            <td th:text="${adventure.address}">address</td>
            <td th:text="${adventure.info}">info</td>
            <td th:text="${adventure.avgRating}">rating</td>
        </tr>
        </tbody>

    </table>
    </div>
</div>




<div th:insert="/index.html :: scripts"></div>
</body>
</html>