<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avanture</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<header th:insert="/index.html :: header"></header>

<div class="container">

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <form th:action="@{/search/adventures}" method="post">
                <div class="input-group">
                    <label class="form-label" for="from">Od</label>
                    <input id="from" type="date" class="form-control" th:name="dateFrom" placeholder="">
                    <label class="form-label" for="from">Do</label>
                    <input id="to" type="date" class="form-control" th:name="dateEnd" placeholder="02/02/2022" >

                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>


    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row"><p></p></div>


    <div class="row">

        <table class="table table-striped">
            <thead>
            <tr th:if="${search==true}">
                <td>
                    <a th:href="@{'/search/adventures/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">id </a>
                </td>
                <td>
                    <a th:href="@{'/search/adventures/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/search/adventures/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">addressa</a>
                </td>
                <td>
                    <a th:href="@{'/search/adventures/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/search/adventures/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">rating</a>
                </td>
            </tr>
            <tr th:unless="${search==true}">
                <td>
                    <a th:href="@{'/adventures/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">id </a>
                </td>
                <td>
                    <a th:href="@{'/adventures/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/adventures/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}">addressa</a>
                </td>
                <td>
                    <a th:href="@{'/adventures/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/adventures/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}}">rating</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adventure:${adventures}">
                <td><a th:href="@{adventures/{id}(id=${adventure.id})}" th:text="${adventure.id}">id</a>
                </td>
                <td th:text="${adventure.name}">name</td>
                <td th:text="${adventure.address}">address</td>
                <td th:text="${adventure.info}">info</td>
                <td th:text="${adventure.avgRating}">rating</td>
                <td><form th:if="${search==true}" th:action="@{/reserve}" method="post">
                    <input hidden th:value="${adventure.id}" th:name="id">
                    <input hidden th:value="${dateFrom}" th:name="dateFrom">
                    <input hidden th:value="${dateEnd}" th:name="dateEnd">
                    <button type="submit" class="btn btn-primary">Rez</button>
                </form></td>
            </tr>
            </tbody>

        </table>
    </div>
    <div th:if="${search==true}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}" th:href="@{'/search/adventures/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Prva</a>

        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}" th:href="@{'/search/adventures/page/'+${currentPage - 1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}" th:href="@{'/search/adventures/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>



        <a th:if="${currentPage<numberOfPages}" th:href="@{'/search/adventures/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}" th:href="@{'/search/adventures/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>


    <div th:unless="${search==true}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}" th:href="@{'/adventures/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <a th:if="${currentPage>1}" th:href="@{'/adventures/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}" th:href="@{'/adventures/page/'+${currentPage - 1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}" th:href="@{'/adventures/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>



        <a th:if="${currentPage<numberOfPages}" th:href="@{'/adventures/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}" th:href="@{'/adventures/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>
</div>


<div th:insert="/index.html :: scripts"></div>
</body>
</html>