<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Avanture</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<header th:insert="/index.html :: header"></header>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{${adventure.imageLink}}" alt="..."/>
            </div>
            <div class="col-md-6">
                <div class="small mb-1"
                     th:text="${'Instruktor: '+ adventure.instructor.firstName +' '+adventure.instructor.lastName}">SKU:
                    BST-498
                </div>
                <div class="small mb-1" th:text="${ 'Ocena: '+ #numbers.formatDecimal(adventure.avgRating,1, 1, 'POINT')}">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder" th:text="${adventure.name}">Shop item template</h1>
                <div class="fs-5 mb-5">

                    <span th:text="${adventure.price +' €' }">$40.00</span>
                </div>
                <p class="lead" th:text="${adventure.info}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus
                    eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <form sec:authorize="hasRole('ROLE_USER')" th:if="${subscribed==true}"
                          th:action="@{'/adventures/'+${adventure.id}}" th:method="put">
                        <input type="number" th:name="adventureId" th:value="${adventure.id}" hidden="">
                        <button class="btn btn-outline-dark flex-shrink-0" type=submit>
                            Odjavite se sa akcija
                        </button>
                    </form>
                    <form sec:authorize="hasRole('ROLE_USER')" th:unless="${subscribed==true}"
                          th:action="@{'/adventures/'+${adventure.id}}" th:method="post">
                        <input type="number" th:name="adventureId" th:value="${adventure.id}" hidden="">
                        <button class="btn btn-outline-dark flex-shrink-0" type=submit>
                            Pretplatite se na akcije instruktora
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <h3>Ocene i komentari</h3>

    </div>
    <div class="row">

        <table th:each="ar:${adventureReviews}" class="table table-active">
            <tbody>
            <tr>
                <td th:if="${ar.user!=null}" th:text="${'Od '+ar.user.email}">
                    username
                </td>
                <td th:if="${ar.user==null}" th:text="'[deleted]'">
                    username
                </td>
                <td  th:text="${'Vreme: '+#temporals.format(ar.reviewTime, 'dd-MM-yyyy HH:mm')}">
                    vreme
                </td>
                <td th:text="${'Ocena ' +ar.rating}">
                    rating
                </td>
            </tr>
            <tr>
                <td colspan="3" th:text="${ar.content}"> content</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="row" sec:authorize="hasRole('ROLE_USER')">
        <div class="col">
            <a th:if="${allowComplaint==true}" class="btn btn-primary" href="#instructor_complaint_modal"
               data-toggle="modal"
               th:attr="data-adventure-id=''+${adventure.id}+''">Žalba</a>
            <p th:unless="${allowComplaint==true}" class="alert-warning">Nemate pravo žalbe za instruktora kod kojeg nemate
                rezervaciju.</p>
        </div>
    </div>
    <div class="row">

    </div>

</div>




<div th:insert="/index.html :: scripts"></div>

<div th:insert="/fragments/modal/_modals::complaintModal('/adventures/'+${adventure.id}+'/complaint', 'instructor_complaint_modal','adventure',${adventure.id})"></div>


</body>
</html>