<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Brodovi</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

</head>
<body>
<header th:insert="/index.html :: header"></header>


<!--
<p th:text="${boats}"></p>
-->
<div class="container">

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-2 col-md-2 mx-auto border-right"></div>
        <div class="col-lg-7 col-md-7 mx-auto border-right">


                    <form class="" name="myForm" th:action="@{/search/boats}" method="post" onsubmit="return validateForm();">
                        <div class="row"><p class="col text-center">Unesite željeni period rezervacije</p></div>
                        <div class="row ">
                            <div class="col align-items-center text-center">
                                <div id="date-error" name="date-error "
                                     class="alert alert-danger "
                                     style="display: none">Početak ne sme biti pre danas i ne sme biti više od kraja.
                                </div></div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="from">Od</label>
                                    <input id="from" type="date" class="form-control" th:name="dateFrom" required></div>

                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="from">Do</label>
                                    <input id="to" type="date" class="form-control" th:name="dateEnd" required></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="from">Maksimalna cena</label>
                                <input id="maxPrice" type="number" min="0"  placeholder="1000"  class="form-control" th:name="maxPrice" required></div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="from">Minimalna ocena</label>
                                    <input id="minRating" type="number" min="0" max="5" step="0.05" placeholder="1" class="form-control" th:name="minRating"  required></div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label" for="from">Broj putnika</label>
                                    <input id="noOfPersons" type="number" min="1" placeholder="1"  class="form-control" th:name="noOfPersons" required></div>
                            </div>

                            <div class="col ">
                                <div><p>Dodatne opcije</p></div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="tag1" id="tag1" th:value="kapetan" />
                                    <label class="form-check-label" for="tag1">Kapetan</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="tag2" id="tag2" th:value="bar" />
                                    <label class="form-check-label" for="tag2">Bar</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="tag3"
                                            th:value="wifi"
                                            name="tag3"

                                    />
                                    <label class="form-check-label" for="tag3">WiFi</label>
                                </div>
                            </div>


                        </div>


                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group-btn">
                                    <button class=" btn btn-secondary" type="submit">Go!</button>
                                </div>
                            </div>
                        </div>
                    </form>


        </div>


        <div class="col-lg-2 col-md-2 mx-auto justify-content-center text-center ">

            <p>Pogledajte sve akcije ovde.</p>

        </div>
    </div>

    <div class="row"><p></p></div>


    <div class="row">

        <table class="table table-striped">
            <thead>
            <tr th:if="${search==true}">
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3} } ">id </a>
                </td>
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3} }">addressa</a>
                </td>
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">rating</a>
                </td>
                <td>
                    <a th:href="@{'/search/boats/page/'+${currentPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">*price*</a>
                </td>
            </tr>
            <tr th:unless="${search==true}">
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">id </a>
                </td>
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}">addressa</a>
                </td>
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}}">rating</a>
                </td>
                <td>
                    <a th:href="@{'/boats/page/'+${currentPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">cena</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boat:${boats}">
                <td><a th:href="@{/boats/{id}(id=${boat.id})}" th:text="${boat.id}">id</a></td>
                <td th:text="${boat.name}">name</td>
                <td th:text="${boat.address}">address</td>
                <td th:text="${boat.info}">info</td>
                <td th:text="${boat.avgRating}">rating</td>
                <td th:text="${boat.price}">rating</td>

                <td th:if="${search==true}">
                    <a class="btn btn-primary" href="#my_modal" data-toggle="modal"
                       th:attr="data-boat-id=''+${boat.id}+'', data-date-from=''+${dateFrom}+'', data-date-end=''+${dateEnd}+'' ">rez</a>

                </td>
            </tr>
            </tbody>

        </table>

    </div>


    <div th:if="${search==true}" class="row justify-content-center">
        <div th:if="${numberOfPages>0}" >
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}"
           th:href="@{'/search/boats/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Prva</a>

        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}"
           th:href="@{'/search/boats/page/'+${currentPage-1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}"
                   th:href="@{'/search/boats/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>


        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/search/boats/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/search/boats/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}+'&maxPrice='+${maxPrice}+'&minRating='+${minRating}+'&noOfPersons='+${noOfPersons}+'&tag1='+${tag1}+'&tag2='+${tag2}+'&tag3='+${tag3}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;
        </div>

    </div>


    <div th:unless="${search==true}" class="row justify-content-center">
        <div th:if="${numberOfPages>0}" >
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}"
           th:href="@{'/boats/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <a th:if="${currentPage>1}"
           th:href="@{'/boats/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}"
           th:href="@{'/boats/page/'+${currentPage - 1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}"
                   th:href="@{'/boats/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>


        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/boats/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}"
           th:href="@{'/boats/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;
        </div>

    </div>
</div>

<div th:insert="/fragments/modal/_modals::reservationModal('/reserve')"></div>
<div th:insert="/index.html :: scripts"></div>

<script>
    $('#my_modal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget)
        var entityId = button.data('boat-id');
        var dateFrom = button.data('date-from');
        var dateEnd = button.data('date-end');
        $(e.currentTarget).find('input[name="entityId"]').val(entityId);
        $(e.currentTarget).find('input[name="dateFrom"]').val(dateFrom);
        $(e.currentTarget).find('input[name="dateEnd"]').val(dateEnd);
    });
</script>


</body>
</html>