<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>brod</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<header th:insert="/index.html :: header"></header>
<p th:text="${boat.name}"></p>


<div class="container">
    <div class="row">
        <h3> reviews</h3>

    </div>
    <div class="row">

        <table th:each="br:${boatReviews}" class="table table-active">
            <tbody>
            <tr>
            <td  th:text="${br.user.email}">
                username
            </td>
                <td th:text="${br.rating}">
                    rating
                </td>
            </tr>
            <tr>
               <td colspan="2" th:text="${br.content}"> content </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>


<div th:insert="/index.html :: scripts"></div>
</body>
</html>