<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vikendice</title>

    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}" ></script>
</head>
<body>
<header th:insert="/index.html :: header"></header>

<div class="container">

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <form name="myForm" th:action="@{/search/houses}" method="post" onsubmit="return validateForm();">
                <div class="input-group">
                    <label class="form-label" for="from">Od</label>
                    <input id="from" type="date" class="form-control" th:name="dateFrom" required>
                    <label class="form-label" for="from">Do</label>
                    <input id="to" type="date" class="form-control" th:name="dateEnd" required >
                    <p><div id="date-error" name="date-error" class="alert alert-danger" style="display: none" >Neispravan datum.</div></p>

                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row"><p></p></div>


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr th:if="${search==true}">
                <td>
                    <a th:href="@{'/search/houses/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">id </a>
                </td>
                <td>
                    <a th:href="@{'/search/houses/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/search/houses/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">addressa</a>
                <td>
                    <a th:href="@{'/search/houses/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/search/houses/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">rating</a>
                </td>
            </tr>
            <tr th:unless="${search==true}">
                <td>
                    <a th:href="@{'/houses/page/'+${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">id </a>
                </td>
                <td>
                    <a th:href="@{'/houses/page/'+${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">name</a>
                </td>
                <td>
                    <a th:href="@{'/houses/page/'+${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}">addressa</a>
                <td>
                    <a th:href="@{'/houses/page/'+${currentPage} + '?sortField=info&sortDirection=' + ${reverseSortDirection}}">info</a>
                </td>
                <td>
                    <a th:href="@{'/houses/page/'+${currentPage} + '?sortField=avgRating&sortDirection=' + ${reverseSortDirection}}">rating</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="house:${houses}">
                <td><a th:href="@{/houses/{id}(id=${house.id})}" th:text="${house.id}">id</a>
                </td>
                <td th:text="${house.name}">name</td>
                <td th:text="${house.address}">address</td>
                <td th:text="${house.info}">info</td>
                <td th:text="${house.avgRating}">rating</td>
                <td th:if="${search==true}">
                    <a class="btn btn-primary" href="#my_modal" data-toggle="modal"
                       th:attr="data-house-id=''+${house.id}+'', data-date-from=''+${dateFrom}+'', data-date-end=''+${dateEnd}+'' ">rez</a>

                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div th:if="${search==true}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}" th:href="@{'/search/houses/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Prva</a>

        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}" th:href="@{'/search/houses/page/'+${currentPage-1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}" th:href="@{'/search/houses/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>



        <a th:if="${currentPage<numberOfPages}" th:href="@{'/search/houses/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}" th:href="@{'/search/houses/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}+'&dateFrom='+${dateFrom} +'&dateEnd='+${dateEnd}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>


    <div th:unless="${search==true}" class="row justify-content-center">
        Ukupno: [[${numberOfElements}]] - Stranica [[${currentPage}]] od [[${numberOfPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage>1}" th:href="@{'/houses/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <a th:if="${currentPage>1}" th:href="@{'/houses/page/1' + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection} }">Prva</a>
        <span th:unless="${currentPage>1}">Prva</span>
        &nbsp;
        <a th:if="${currentPage>1}" th:href="@{'/houses/page/'+${currentPage-1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Prethodna </a>
        <span th:unless="${currentPage>1}">prethodna</span>
        &nbsp;

        <span th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a></a>
                <a th:if="${i != currentPage}" th:href="@{'/houses/page/' + ${i} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}"> [[${i}]] </a>
                <span th:unless="${i != currentPage}"> [[${i}]] </span> &nbsp; &nbsp;
            </span>



        <a th:if="${currentPage<numberOfPages}" th:href="@{'/houses/page/'+${currentPage+1} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Sledeća</a>
        <span th:unless="${currentPage<numberOfPages}">Sledeća</span>
        &nbsp;
        <a th:if="${currentPage<numberOfPages}" th:href="@{'/houses/page/'+${numberOfPages} + '?sortField='+ ${sortField} + '&sortDirection='+ ${sortDirection}}">Poslednja </a>
        <span th:unless="${currentPage<numberOfPages}">Poslednja</span>
        &nbsp;


    </div>


</div>



<div th:insert="/fragments/modal/_modals::reservationModal('/reserve/house')"></div>


<div th:replace="/index.html :: scripts"></div>

<script>
    $('#my_modal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget)
        var entityId = button.data('house-id');
        var dateFrom = button.data('date-from');
        var dateEnd = button.data('date-end');
        $(e.currentTarget).find('input[name="entityId"]').val(entityId);
        $(e.currentTarget).find('input[name="dateFrom"]').val(dateFrom);
        $(e.currentTarget).find('input[name="dateEnd"]').val(dateEnd);
    });
</script>


</body>
</html>