<!DOCTYPE html>
<html th:fragment="topside" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Početna</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start">
        <a class="navbar-brand" href="/index.html"><img src="/img/mapa.png" width="35"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/userHomePage}">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/home}">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
                </li>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/admin/instructors}">Instruktori</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/adventures}">Avanture</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/boatOwners}">Vlasnici brodova</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/boats}">Brodovi</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/houseOwners}">Vlasnici vikendica</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/houses}">Vikendice</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/admin/new_admin}">Novi administrator</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/deletion_requests}">Zahtevi za brisanje</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/admin/reviews}">Ocene i revizije</a></li>


                            <li><a class="dropdown-item" th:href="@{/admin/complaints}">Žalbe</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/reports}">Izveštaji</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/profile}">Moji podaci</a></li>

                        </ul>
                    </li>
                </div>

                <div sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Meni
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/reservations}">Aktuelne rezervacije</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><p class="dropdown-header">Ponude</p></li>
                            <li><a class="dropdown-item" th:href="@{/houses}">Vikendice</a></li>
                            <li><a class="dropdown-item" th:href="@{/boats}">Brodovi</a></li>
                            <li><a class="dropdown-item" th:href="@{/adventures}">Avanture</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><p class="dropdown-header">Istorija rezervacija</p></li>
                            <li><a class="dropdown-item" th:href="@{/houseHistory}">Vikendice</a></li>
                            <li><a class="dropdown-item" th:href="@{/boatHistory}">Brodovi</a></li>
                            <li><a class="dropdown-item" th:href="@{/adventureHistory}">Avanture</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>

                            <li><p class="dropdown-header">Akcije</p></li>
                            <li><a class="dropdown-item" th:href="@{/houses/discount}">Vikendice</a></li>
                            <li><a class="dropdown-item" th:href="@{/boats/discount}">Brodovi</a></li>
                            <li><a class="dropdown-item" th:href="@{/adventures/discount}">Avanture</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>

                            <li><a class="dropdown-item" th:href="@{/subscriptions}">Pretplate</a></li>
                            <li><a class="dropdown-item" th:href="@{/complaints}">Žalbe</a></li>
                            <li><a class="dropdown-item" th:href="@{/}">Penali</a></li>

                            <li><a class="dropdown-item" th:href="@{/profile}">Moji podaci</a></li>

                        </ul>
                    </li>
                </div>
            </ul>
        </div>

        <div class="d-flex flex-row order-2 order-lg-3">
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-primary" th:href="@{/register}">Registracija</a>
            </div>
        </div>

        <div class="d-flex flex-row order-2 order-lg-3">
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-primary" th:href="@{/login}">Prijavite se</a>
            </div>
        </div>
        <div class="d-flex flex-row order-2 order-lg-3">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}"> <b><span sec:authentication="name">Username</span></b> </a>
                <a href="/logout" class="btn btn-outline-primary">Odjavite se</a>
            </div>

        </div>
    </nav>
</div>

<div class="container">

    <div class="row">
        <div class="col-12 text-center">
            <h2>Početna</h2>
        </div>
    </div>


    <div class="row">
        <p></p>
    </div>


    <div class="row text-center justify-content-center">

        <div class="col-sm-4 col-md-3">
            <a th:href="@{/houses}" class="btn btn-dark btn-lg">Vikendice</a>
        </div>
        <div class="col-sm-4 col-md-2">
            <a th:href="@{/boats}" class="btn btn-dark btn-lg">Brodovi</a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a th:href="@{/adventures}" class="btn btn-dark btn-lg ">Avanture</a>
        </div>

    </div>
    <!--    <div class="row text-center justify-content-center"><div sec:authorize="isAuthenticated()">-->
    <!--        Welcome <b><span sec:authentication="name">Username</span></b>-->
    <!--        &nbsp;-->

    <!--    </div></div>-->
</div>


<div th:fragment="scripts">
    <script th:src="@{/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>