<!DOCTYPE html>
<html th:fragment="topside" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="/index.html :: header"> </header>
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;

</div>

<div class="container">

    <div class="row">
        <div class="col-12 text-center">
            <h2>Hello....</h2>
        </div>
    </div>


    <div class="row">
        <p></p>
    </div>
<div class="border">

    <div class="row text-center ">
        <div class="col-3"><h3>ponude</h3></div>
        <div class="col-3 ">
            <a th:href="@{/houses}" class="btn btn-dark btn-lg">Vikendice</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/boats}" class="btn btn-dark btn-lg">Brodovi</a>
        </div>
        <div class="col-3  ">
            <a th:href="@{/adventures}" class="btn btn-dark btn-lg ">Avanture</a>
        </div>
    </div>
</div>
    <p></p>
    <div class="border">
    <div class="row text-center ">
        <div class="col-3"><h3>istorija rezervacija</h3></div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Vikendice</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Brodovi</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Avanture</a>
        </div>
    </div>
    </div>
    <p></p>
    <div class="row text-center justify-content-center ">
        <div class="col-3">
            <a th:href="@{/reservations}" class="btn btn-dark btn-lg">Zakazano</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Pretplate</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Žalbe</a>
        </div>
        <div class="col-3 ">
            <a th:href="@{/}" class="btn btn-dark btn-lg">Penali</a>
        </div>

    </div>

    </div>


<div th:insert="/index.html :: scripts"></div>
</body>
</html>